<%- include('../cabecalho') %>
<%- include('../menu') %>

<div class="container">
    <h1>Artigo</h1>
    <p class="lead">Artigo alterado</p>

    <p><a href="/admin/artigos" class="btn btn-primary">Voltar</a></p>



</div>


<%- include('../rodape') %>