<%- include('../cabecalho') %>
<%- include('../menu') %>

<div class="container">
    <h1>Autor</h1>
    <p class="lead">Autor excluido</p>

    <p><a href="/admin/autores" class="btn btn-primary">Voltar</a></p>



</div>


<%- include('../rodape') %>