<%- include('cabecalho') %>
<%- include('menu') %>

<div class="container">
    <h1>Login</h1>
    <p class="lead">Login inválido</p>

    <p><a href="/login" class="btn btn-primary">Tentar novamente</a></p>



</div>


<%- include('rodape') %>